[UNIT]
Description=Automount and autosynch, goes in /etc/systemd/system, created by antlun. Executes /usr/bin/autobkup.sh
Requires=media-antlun-backup.mount
After=media-antlun-backup.mount

[Service]
ExecStart=/usr/bin/autobkup.sh
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=autobkup.service
